<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <body class="loading">
    <main>
      <div class="frame">
        <div class="frame__title-wrap">
          <h1 class="frame__title">直木賞作品・作家</h1>
        </div>
      </div>
      <nav class="menu" >
        <a class="menu__item js-image" data-img="img/1.jpg">
          <span class="menu__item-text"><span class="menu__item-textinner">心淋し川</span></span>
          <span class="menu__item-sub">第164回 / 西條奈加</span>
        </a>
        <a class="menu__item js-image" data-img="img/2.jpg">
          <span class="menu__item-text"><span class="menu__item-textinner">少年と犬</span></span>
          <span class="menu__item-sub">第163回 / 馳　星周</span>
        </a>
        <a class="menu__item js-image" data-img="img/3.jpg">
          <span class="menu__item-text"><span class="menu__item-textinner">熱源</span></span>
          <span class="menu__item-sub">第162回 / 川越宗一</span>
        </a>
        <a class="menu__item js-image" data-img="img/4.jpg">
          <span class="menu__item-text"><span class="menu__item-textinner">渦</span></span>
          <span class="menu__item-sub">第161回 / 大島真寿美</span>
        </a>
        <a class="menu__item js-image" data-img="img/5.jpg">
          <span class="menu__item-text"><span class="menu__item-textinner">宝島</span></span>
          <span class="menu__item-sub">第160回 / 真藤順丈</span>
        </a>
        <a class="menu__item js-image" data-img="img/6.jpg">
          <span class="menu__item-text"><span class="menu__item-textinner">ファーストラヴ</span></span>
          <span class="menu__item-sub">第159回 / 島本理生</span>
        </a>
        <a class="menu__item js-image" data-img="img/7.jpg">
          <span class="menu__item-text"><span class="menu__item-textinner">銀河鉄道の父</span></span>
          <span class="menu__item-sub">第158回 / 門井慶喜</span>
        </a>
        <a class="menu__item js-image" data-img="img/8.jpg">
          <span class="menu__item-text"><span class="menu__item-textinner">月の満ち欠け</span></span>
          <span class="menu__item-sub">第157回 / 佐藤正午</span>
        </a>
        <a class="menu__item js-image" data-img="img/9.jpg">
          <span class="menu__item-text"><span class="menu__item-textinner">蜜蜂と遠雷</span></span>
          <span class="menu__item-sub">第156回 / 恩田　陸</span>
        </a>
        <a class="menu__item js-image" data-img="img/10.jpg">
          <span class="menu__item-text"><span class="menu__item-textinner">海の見える理髪店</span></span>
          <span class="menu__item-sub">第155回 / 荻原　浩</span>
        </a>
        <p class="credits">Create by <a href="https://tympanus.net/codrops/2020/07/01/creating-a-menu-image-animation-on-hover/">Creating a Menu Image Animation on Hover</a></p>
      </nav>
    </main>
    <svg class="cursor" width="80" height="80" viewBox="0 0 80 80">
      <circle class="cursor__inner" cx="40" cy="40" r="20"/>
    </svg>
    <script src="/js/index.js"></script>
  </body>
</body>
</html>